.modal__title {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 28px 0;
}

.modal__body {
    padding: 5px 28px 28px;
}

.providers {
    list-style: none;
    padding: 0;
}

.providers li:last-child {
    margin: 0;
}

.providers li {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 2px 2px;
    padding: 20px;
    align-items: center;
    margin: 0 0 15px 0;
    transition: 0.2s;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
}

.providers__status {
    color: #dc1427;
    font-size: 16px;
}

.providers__name {
    padding: 0 10px;
    flex: 1 0;
    font-size: 20px;
}

.main_box {
    margin: 2%;
}

.height_modal {
    height: 250px;
    margin-top: 10px;
}

.border_redious {
    border: 1px solid transparent;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}